Django==5.2.14
matplotlib==3.10.9
numpy==2.4.6
pandas==3.0.3
python-dotenv==1.2.2
python_dateutil==2.9.0.post0
pytz==2026.2
Requests==2.34.2
scikit_learn==1.9.0
gunicorn==26.0.0
dj-database-url==3.1.2
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
