<!doctype html>
<html lang="en">
<head>
    {% block title %}<title>Furniture Factory</title>{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {% block sidebar %}
                <ul>
                    <li><strong>MAIN</strong></li>
                    <li><a href="{% url 'main' %}">Main</a></li>
                    <li><a href="{% url 'news_list' %}">News</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contacts' %}">Contacts</a></li>
                    
                    <li><br></li>
                    
                    <li><strong>INFORMATION</strong></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                    <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li> 
                    <li><a href="{% url 'vacancies_list' %}">Vacancies</a></li>
                    <li><a href="{% url 'reviews_list' %}">Reviews</a></li>

                    {% if not user.is_authenticated %}
                        <li><br></li>
                        <li><strong>UNAUTHENTICATED USER PANEL</strong></li>
                        <li><a href="{% url 'promocodes_list' %}">Promo Codes</a></li>
                        <li><a href="{% url 'catalog' %}">Catalog</a></li>
                    {% endif %}
                    
                    {% if user.is_superuser or user.is_staff %}
                        <li><br></li>
                        <li><strong>ADMIN PANEL</strong></li>
                        <li><a href="{% url 'analytics_dashboard' %}">Analytics</a></li>
                        <li><a href="/admin/">Admin Account</a></li>
                    {% endif %}

                    {% if user.is_authenticated %}
                        {% for group in user.groups.all %}
                            {% if group.name == 'Client' %}
                                <li><br></li>
                                <li><strong>CLIENT PANEL</strong></li>
                                <li><a href="{% url 'client_orders' %}">My Orders</a></li>
                                <li><a href="{% url 'create_order' %}">Place Order</a></li>
                                <li><a href="{% url 'promocodes_list' %}">Promo Codes</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if user.is_authenticated %}
                        {% for group in user.groups.all %}
                            {% if group.name == 'Employee' %}
                               <li><br></li>
                                <li><strong>EMPLOYEE PANEL</strong></li>
                                <li><a href="{% url 'employee_dashboard' %}">Dashboard</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                    <li><br></li>
                    <li><hr></li>
                    
                    {% if user.is_authenticated %}
                        <li><strong>User:</strong> {{ user.get_username }}</li>
                        <li>
                            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                    {% else %}
                        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
                {% endblock %}
            </div>
            <div class="col-sm-10">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>